body{
    margin: 0;
    text-align: center;
    background-color: rgb(100, 2, 22);
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    color: white;
}

.container{
    background-image: url(https://static.diariofemenino.com/media/2996/sonarconfuego.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    border-radius: 13px;
}
label{
    color: white;;
}

.card{
    background-image: url(https://static.diariofemenino.com/media/2996/sonarconfuego.jpg);
    background-size: cover;
    border: 1px solid black;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    box-shadow: 5px 5px 5px rgb(100, 2, 22);
}

